.category-box {
	display: inline-block;
	height: 75px;
	width: 182px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	text-align: center;
	background-color: #FFCC33;
	border: 2px solid #FFCC33;
	border-radius: 4px;
	cursor: pointer;
	font-size: 0px;
}

.category-box:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.category-title {
	display: inline-block;
	margin-top: 3px;
	font-size: 21px;
	vertical-align: middle;
}